
body {
    background-image: url('tabletFrame.png');
    background-repeat: no-repeat;
    background-color: black;
}

#reee {
    position: fixed;
    top: 1rem;
    left: 3rem;
}

#actionBar {
    color: white;
    position: fixed;
    top: 4rem;
    left: 49rem;
    font-family: Arial, Helvetica, sans-serif;
}

#participants {
    background-color: #2a2a2a;
    color: white;
    position: fixed;
    width: 15rem;
    height: 29rem;
    top: 5.4rem;
    left: 3.8rem;
}

#messages {
    background-color: #3a3939;
    color: white;
    position: fixed;
    width: 41.8rem;
    height: 29rem;
    top: 5.4rem;
    left: 18.6rem;
}

#search {
    background-color: #3a3939;
    border: black;
    border-style: solid;
    width: 14.1rem;
    color: white;
}

#messageAuthor {
    background-color: #303030;
    height: 5rem;
}

#AuthorAvatar {
    width: 4rem;
    border-radius: 75%;
    position: fixed;
    top: 6rem;
    left: 21rem;
}

#AuthorName {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 5.5rem;
    left: 25.5rem;
}

.app {
    width: 90px;
    height: 90px;
    background-image: linear-gradient(to bottom left, #322a35, #342c3b);
    border: none;
    border-radius: 15%;
}

.app:hover {    
    background: linear-gradient(270deg, #bb4519, #246655, #342c3b);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}