
body {
    background-image: url('tabletFrame.png');
    background-repeat: no-repeat;
    background-color: black;
}

button {
    background-color: #2a2a2a;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: white;

}

#reee {
    position: fixed;
    top: 1rem;
    left: 3rem;
}

#actionBar {
    color: white;
    position: fixed;
    top: 4rem;
    left: 49rem;
    font-family: Arial, Helvetica, sans-serif;
}

#participants {
    background-color: #2a2a2a;
    color: white;
    position: fixed;
    width: 15rem;
    height: 29rem;
    top: 5.4rem;
    left: 3.8rem;
    list-style-type: none;
    min-height: 29rem;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
background-color: #242424;
}

::-webkit-scrollbar-thumb {
background-color: #2f2f2f;
}

::-webkit-scrollbar-button {
background-color: #4a4a4a;
}

#participants li {
    padding: 1rem;
    cursor: pointer;
}

#participants .opp {
    background-color: #333333;
}

#participantAvatar {
    width: 18%;
    border-radius: 100%;
    vertical-align: middle;
}

.participantName {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#messages {
    background-color: #3a3939;
    color: white;
    position: fixed;
    width: 41.8rem;
    height: 29rem;
    top: 5.4rem;
    left: 18.6rem;
    list-style-type: none;
    min-height: 29rem;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

#messages li {
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding: 1rem;   
    min-width: 5rem;
    min-height: 3rem;    
    max-width: 16rem;
    max-height: 16rem;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b75b5;
    overflow-y: auto;
}

#messages li::-webkit-scrollbar {
    width: 0.2rem;
}

#messages li::-webkit-scrollbar-track {
    background-color: transparent;
}

#messages li::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100%;
}

#messages li::-webkit-scrollbar-button {
    visibility: hidden;
}

#messages .self {
    background-color: #179c5e;
}

#messageContainer {
    padding: 1rem;
}

#search {
    background-color: #3a3939;
    border: black;
    border-style: solid;
    border-width: 1px;
    width: 14.3rem;
    color: white;
}

#messageAuthor {
    background-color: #303030;
    height: 5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

#AuthorAvatar {
    width: 4rem;
    border-radius: 75%;
    vertical-align: middle;
}

#AuthorName {
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

.app {
    width: 90px;
    height: 90px;
    background-image: linear-gradient(to bottom left, #322a35, #342c3b);
    border: none;
    border-radius: 15%;
}

.app:hover {    
    background: linear-gradient(270deg, #bb4519, #246655, #342c3b);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}