.badge {
    font-size: 0.75em;
    font-weight: bold;
    background-color: rgb(185, 185, 185);
    color: black;
    padding-top: .35em;
    padding-bottom: .35em;
    padding-left: .65em;
    padding-right: .65em;
}

.primary {
    background-color: rgb(53, 122, 252) !important;
    color: white !important;
}

.danger {
    background-color: rgb(185, 18, 18) !important;
    color: white !important;
}

.warning {
    background-color: orange !important;
    color: black !important;
}

.rainbow {
    background: linear-gradient(270deg, red, orange, yellow, green, blue, purple, violet);
    background-size: 600% 600%;
    color: white;

    -webkit-animation: RainbowAnimate 15s ease infinite;
    -moz-animation: RainbowAnimate 15s ease infinite;
    animation: RainbowAnimate 15s ease infinite;
}

.hot {
    background: linear-gradient(270deg, red, orange);
    background-size: 600% 600%;
    color: white;

    -webkit-animation: HotAnimate 5s ease infinite;
    -moz-animation: HotAnimate 5s ease infinite;
    animation: HotAnimate 5s ease infinite;
}

@-webkit-keyframes RainbowAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes RainbowAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes RainbowAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-webkit-keyframes HotAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes HotAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes HotAnimate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}