#HomePage {
  background-color: gray;
  color: black;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#HomePage:hover {
  background-color: white;
  color: black
}

#launcher-text {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

footer {
  position: absolute;
  bottom: 3px;
  left: 3px;
  font-size: 12px;
}