@font-face {
  font-family: nexabold;
  src: url(fonts/nexabold.otf);
}

@font-face {
  font-family: nexalight;
  src: url(fonts/nexalight.otf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  margin-top: 5rem;
  margin-left: 2rem;
  background: url(imgs/bg2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}


::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #232323;
}

::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
}

::-webkit-scrollbar-button {
  background-color: #4b4b4b;
}

.text-small {
  font-size: small;
}

.text-medium {
  font-size: medium;
}

.text-large {
  font-size: large;
}

.text-xlarge {
  font-size: x-large;
}