* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;

}

#launchmono {
  margin-top: 1rem;
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  transition: 500ms;
}

#launchmono:hover {
  background-color: rgb(39, 170, 98);
  color: white;
  border-radius: 10px;
}

header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(41, 41, 41) !important;
  width: 100%;
  height: 4rem;
  border-radius: 2px;
  text-align: center;
  margin-left: auto;
}

header h1 {
  font-size-adjust: initial;
}

body {
  margin-top: 5rem;
  margin-left: 2rem;
  background-color: rgb(53, 53, 53);
  color: white;
}