@font-face {
  font-family: nexabold;
  src: url(nexabold.otf);
}

@font-face {
  font-family: nexalight;
  src: url(nexalight.otf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;

}


#launchmono {
  width: 150px;
  height: 50px;
  border-radius: 3px;
  border: 0px;
  opacity: 60%;
  transition: 500ms;
  position: absolute;
  bottom: 3%;
  right: 3%;
}

#launchmono:hover {
  opacity: 100%;
}

#launcher-text {
  position: absolute;
  bottom: 5%;
  left: 8%;
}

#MonolithLogo {
  position: absolute;
  bottom: 20%;
  left: 3%;
}

#newsbox1 {
  width: 25%;
  background-color: black;
  opacity: 75%;
  font-size: 12px;
}

#newsbox1-photo-container{
  background-image: url('loading_bg_dark.png');
  position: fixed;
  width: 5%;
}

header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(41, 41, 41) !important;
  opacity: 0.7;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-radius: 2px;
  margin-left: auto;
}

body {
  margin-top: 5rem;
  margin-left: 2rem;
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#discordicon {
  position: absolute;
  bottom: 3%;
  left: 3%;
}