.gamelaunch {
  position: fixed;
  top: 35rem;
  left: 45%;
  min-width: 20vh;
  min-height: 5vh;
  background-color: #e9b62b;
  border-style: none;
  opacity: 50%;
  border-radius: 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  transition-duration: 200ms;
}

.gamelaunch:hover {
  opacity: 100%;
  background-color: #dfa70f;
}

#newsBox {
  position:fixed;
  top: 9rem;
  left: 2rem;
  font-size: 12px;
  color: white;
  overflow-x: auto;
  overflow-y: auto;
  min-width: 1vh;
  min-height: 1vh;
  max-width: 95%;
  max-height: 60%;
}

#newsBox div {
  margin: 1rem;
  display: inline-block;
  align-items: center;
  vertical-align: top;
}


#info {
  color: gray;
  font-family: nexalight;
  font-size: 14px;
  position: absolute;
  bottom: 3%;
  left: 3%;
}

#videoframe {
  position: absolute;
  top: 25%;
  left: 3%;
}

#owo {
  margin-top: 6rem;
  color: white;
}

#eaBanner {
  color: white;
  background-color: #dfa70f;
  position: fixed;
  bottom: 15px;
  right: -35px;
  text-align: center;
  width: 200px;
  height: 30px;
  padding: 0.2rem;
  transform: rotate(-25deg);
  opacity: 50%;
  transition-duration: 500ms;
}

#eaBanner:hover {
  opacity: 100%;
}