  h2 {
    font-family: Arial, Helvetica, sans-serif !important;
  }

  #description {
    padding-bottom: 6px;
  }

  .container {
    color: white;
    margin-top: 6rem;
  }

  .toolscontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toolscontainer>div>a>img {
    display: block;
    width: 400px;
    cursor: pointer;
    margin: 1rem;
    border-radius: .25rem;
  }

  .toolscontainer>div {
    transition-duration: 250ms;
    position: relative;
    filter: brightness(80%);
  }

  .toolscontainer>div:hover {
    position: relative;
    filter: brightness(100%);
  }

  .imageOverlayText {
    color: rgb(201, 201, 201);
    font-size: 22px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: left;
    position: absolute;
    top: 85%;
    left: 56%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 5;
  }