  h2 {
    font-family: Arial, Helvetica, sans-serif !important;
  }

  #description {
    padding-bottom: 6px;
  }

  .container {
    color: white;
    margin-top: 6rem;
  }

  .toolscontainer {
    min-height: 260px;
    max-height: 515px;
    overflow-y: auto;
  }

  .toolscontainer > a > img {
    width: 400px;
    opacity: 50%;
    transition-duration: 500ms;
    cursor: pointer;
    margin: 1rem;
    border-radius: .25rem;
  }

  .toolscontainer > a > img:hover {
    opacity: 100%;
  }