  h2 {
    font-family: Arial, Helvetica, sans-serif !important;
  }

  #description {
    padding-bottom: 6px;
  }

  .container {
    color: white;
    margin-top: 6rem;
  }

  .toolscontainer {
    min-height: 260px;
    max-height: 515px;
    overflow-y: auto;
  }

  .toolscontainer > a > img {
    width: 400px;
    transition-duration: 250ms;
    cursor: pointer;
    margin: 1rem;
    border-radius: .25rem;
    filter: brightness(80%);
  }

  .toolscontainer > a > img:hover {
    filter: brightness(100%);
  }