body {
    background-image: url('imgs/monotablet.png') !important;
    background-repeat: no-repeat !important;
    background-color: black !important;
}

#reee {
    position: fixed;
    top: 1rem;
    left: 3rem;
}

#actionBar {
    color: white;
    position: fixed;
    top: 4rem;
    left: 50rem;
    font-family: Arial, Helvetica, sans-serif !important;
}

#tabletContainer {
    color: white;
    position: fixed;
    top: 8rem;
    left: 7rem;
}

.app {
    width: 90px;
    height: 90px;
    background-image: linear-gradient(to bottom left, #322a35, #342c3b);
    border: none;
    border-radius: 15%;
}

.app:hover {
    background: linear-gradient(270deg, #bb4519, #246655, #342c3b);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}