.greenbttn {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom right, black, black, green);
    border: green;
    border-style: solid;
    border-width: 2px;
}

.redbttn {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom right, black, black, darkred);
    border: darkred;
    border-style: solid;
    border-width: 2px;

}

.purplebttn {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom right, black, black, purple);
    border: purple;
    border-style: solid;
    border-width: 2px;

}

.goldbttn {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom right, black, black, goldenrod);
    border: goldenrod;
    border-style: solid;
    border-width: 2px;

}

.graybttn {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom right, black, black, gray);
    border: gray;
    border-style: solid;
    border-width: 2px;

}

.orangebttn {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom right, black, black, darkorange);
    border: darkorange;
    border-style: solid;
    border-width: 2px;

}

.bluebttn {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom right, black, black, darkblue);
    border: darkblue;
    border-style: solid;
    border-width: 2px;

}


.sgraybttn {
    width: 100px;
    height: 100px;
    background-image: url("imgs/monobuttons/graystripes.png") , linear-gradient(to bottom right, black, black, gray);
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: gray;
    border-style: solid;
    border-width: 2px;

}

.sredbttn {
    width: 100px;
    height: 100px;
    background-image: url("imgs/monobuttons/redstripes.png") , linear-gradient(to bottom right, black, black, darkred);
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: darkred;
    border-style: solid;
    border-width: 2px;

}

.sbluebttn {
    width: 100px;
    height: 100px;
    background-image: url("imgs/monobuttons/bluestripes.png") , linear-gradient(to bottom right, black, black, darkblue);
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: darkblue;
    border-style: solid;
    border-width: 2px;

}

.slbluebttn {
    width: 100px;
    height: 100px;
    background-image: url("imgs/monobuttons/lightbluestripes.png") , linear-gradient(to bottom right, black, black, teal);
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: teal;
    border-style: solid;
    border-width: 2px;

}

.sgreenbttn {
    width: 100px;
    height: 100px;
    background-image: url("imgs/monobuttons/greenstripes.png") , linear-gradient(to bottom right, black, black, green);
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: green;
    border-style: solid;
    border-width: 2px;

}

.spurplebttn {
    width: 100px;
    height: 100px;
    background-image: url("imgs/monobuttons/purplestripes.png") , linear-gradient(to bottom right, black, black, purple);
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: purple;
    border-style: solid;
    border-width: 2px;

}

.sgoldbttn {
    width: 100px;
    height: 100px;
    background-image: url("imgs/monobuttons/orangestripes.png") , linear-gradient(to bottom right, black, black, goldenrod);
    background-size: 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: goldenrod;
    border-style: solid;
    border-width: 2px;

}

.h {
    transition-duration: 500ms;
}
.h:hover {
    opacity: 80%;
}