.app {
    width: 90px;
    height: 90px;
    background-image: linear-gradient(to bottom left, #322a35, #342c3b);
    border: none;
    border-radius: 15%;
    color: white;
}

.fas {
    font-size: xx-large;
}

.fab {
    font-size: xx-large;
}

.app:hover {
    background: linear-gradient(270deg, #bb4519, #246655, #342c3b);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}